html{
    max-width: 1440px;
    background-color: #EDF2C5;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width: 1120px;
    margin-top: 50px;
    margin-bottom: 8px;
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
}

.header h1{
    color: #778A50;
    font-family: Noto Sans;
    font-weight: 900;
    padding-top: 0px;
    margin-top: 3px;
}

.header button{
    background-color: #EDF2C5;
    color: #778A50;
}

.nav{
    background-color: #778A50;
    display: flex;
    align-items: center;
    width: 1120px;
    height: 50px;
    margin-left: 160px;
	margin-right: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    font-weight: 900;
    line-height: 150%; 
}

.nav-list-item {
	list-style: none;
	margin-right: 50px;
    margin-left: 10px;
}

.nav-list-item a {
	text-decoration: none;
    color: #EDF2C5;
    font-family: Noto Sans;
}

.home-img{
    display: flex;
    justify-content: center;
    margin-left: 160px;
    margin-top: 16px;
    width: 1120px;
    height: 448px;
}


.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 117px;
}

.content-left {
    margin-left: 160px;
    width: 50%;
}

.content-right {
    margin-right: 160px;
    width: 50%;
}

.content-title {
    width: 528px;
    height: 45px;
    align-items: center;
    padding-left: 10px;
    color: #EDF2C5;
    background-color: #778A50;
}

.content-left-img {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.content-right-content p {
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.content-right-content {
    background-color: #F7FBDA;
    width: 528px;
    height: 140px;
    padding: 16px;
}

.footer{
    background-color: #778A50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 50px;
}

.footer p {
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}